* {
    font-family: gill-sans, sans-serif;
    width: 100%;
    background-color: #fafafa;  
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 36;
}

p {
    text-align: center;
    font-size: 24;
}

#image-container {
    height: 300px;
    width: 900px;
    margin: 0px auto 0px auto;
}
div {
    margin: 0px auto 0px auto;
}

img {
    height: 250px;
    width: 250px;
    float: left;
    margin: 30px 20px 0px 25px;
    padding: 1px;
    background-color: black;
}

img:hover {
    background-color: white;
}