* {
    font-family: gill-sans, sans-serif;
    width: 100%;
    background-color: #fafafa;  
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 36;
}

p {
    text-align: center;
    font-size: 24;
}

#image-container {
    height: 450px;
}
div {
    margin: 0px auto 0px auto;
}

img {
    height: 300px;
    width: 300px;
    float: left;
    margin: 73px;
    padding: 1px;
    background-color: black;
}

img:hover {
    background-color: white;
}

li {
    margin: 10px 0px 10px 20px;
    color: rgb(71, 5, 71)
}