* {
    font-family: gill-sans, sans-serif;
    width: 100%;  
}

h1 {
    margin: 15px;
    text-align: center;
    font-size: 36;
}

p {
    text-align: center;
    font-size: 24;
}

img {
    height: 300px;
    width: 300px;
    float: left;
    margin: 73px;
    padding: 1px;
    background-color: black;
}